---
import H4 from "~/components/mojekomponenty/H4.astro";
import Pfooter from "~/components/mojekomponenty/Pfooter.astro";
import Pfooter2 from "../mojekomponenty/Pfooter2.astro";
---

<section class="w-full p-10 bg-slate-100">
  <div class="mx-auto max-w-5xl">
    <Pfooter>
      TATO WEBOVÁ STRÁNKA OBSAHUJE INFORMACE O PŘÍPRAVKU LIDBREE®, KTERÉ VYCHÁZEJÍ ZE SOUHRNU ÚDAJŮ O PŘÍPRAVKU (SPC).
      TATO WEBOVÁ STRÁNKA JE URČENA K POSKYTOVÁNÍ INFORMACÍ VÝHRADNĚ ZDRAVOTNÍKŮM Z ČESKÉ REPUBLIKY.
      POKUD NEJSTE ZDRAVOTNÍK, PROSÍM OPUSŤTE TUTO STRÁNKU A OBRAŤTE SE NA ZDRAVOTNÍKA.
    </Pfooter>
    <div class="grid lg:grid-cols-2 md:grid-cols-2 sm:grid-cols-1">
      <div>
        <H4>Hlášení nežádoucích účinků</H4>
        <a href = "mailto: drugsafety.cz@gedeonrichter.eu"><u>drugsafety.cz@gedeonrichter.eu</u></a>
        <Pfooter2>cookies</Pfooter2>
        <Pfooter2>zásady použití</Pfooter2>
      </div>
      <div>
        <H4>Kontakt</H4>
        <Pfooter2>Gedeon Richter Marketing ČR, s.r.o.</Pfooter2>
        <Pfooter2>Sídlo: Praha 4 – Nusle, Na Strži 2097/63, 14000 - budova Trimaran</Pfooter2>
        <Pfooter2>140 00, Praha 4</Pfooter2>
        <Pfooter2>Tel.: +420 261 141 200</Pfooter2>
        <Pfooter2>email: info@richtergedeon.cz</Pfooter2>
        <Pfooter2>------------------------------</Pfooter2>
        <Pfooter2>Identifikační číslo: 24723720</Pfooter2>
        <Pfooter2>Spisová značka: C 168950 vedená u Městského soudu v Praze</Pfooter2>
      </div>
    </div>
  </div>
</section>
 <style>
  .container-footer {
    text-align: center;
  }
 </style>
